body {
    font-family: var(--font-family), sans-serif;
}

a {
    text-decoration: none;
}

.section-subtitle {
    position: relative;
    display: block;
    color: var(--light-blue-2);
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
    text-transform: uppercase;
}

.section-subtitle::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 1px;
    top: 50%;
    left: -30px;
    background-color: var(--light-blue-2);
}

.color-dark-blue {
    color: var(--dark-blue);
}

.color-grey {
    color: var(--grey);
}

.footer {
    box-shadow: 0 25px 30px 0 rgba(0, 0, 0, .5);
}

.footer-bottom {
    font-size: 14px;
}

.footer-bottom a,
.footer-contacts a {
    transition: 0.3s all;
}

.footer-bottom a:hover,
.footer-contacts a:hover {
    color: var(--light-blue);
}

.footer-contacts i {
    font-size: 25px;
    color: var(--light-blue);
}

.btn-default {
    padding: 10px 24px;
    background-color: var(--light-blue);
    color: var(--white);
    font-weight: bold;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    border: none;
}

#toTopBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: var(--light-blue);
    font-size: 32px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

#toTopBtn.visible {
    visibility: visible;
    opacity: 1;
}

.progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    z-index: -1;
}

.progress-ring__circle {
    fill: none;
    stroke: var(--light-blue);
    stroke-width: 2;
    stroke-dasharray: 175;
    stroke-dashoffset: 175;
    transition: stroke-dashoffset 0.2s linear;
}
